.hidden {
  opacity: 0;
}

.mainContainer {
  div {
    border: solid 2px rgb(77, 77, 77);
    padding: 8px;
    margin: 16px;
  }

  #L1_2.hidden {
    display: none;
  }

  .toast-container {
    position: fixed;
  }

  .toast-container.sucess-message {
      background: green;
    }

    .toast-container.warning-message {
      background: red;
    }

    .toast-container.error-message {
      background: orange;
    }

  .toast-container.top-left {
    top: 2%;
    left: 2%;
    transform: translate(-50%, -50%);
  }

  .toast-container.top-right {
    top: 2%;
    right: -2%;
    transform: translate(-50%, -50%);
  }

  .toast-container.bottom-left {
    bottom: -2%;
    left: 2%;
    transform: translate(-50%, -50%);
  }

  .toast-container.bottom-right {
    bottom: -2%;
    right: 2%;
    transform: translate(-50%, -50%);
  }

  .product-figure {

    img {
      width: 10vw;
    }
  }

  .hidden-message {
    display: none;
  }

  span {
    display: block;
    margin: 16px;
  }
  h1 {
    text-align: center;
    font-size: 2.4rem;
  }

  h4.change-color {
    color: yellow;
  }
}

body {
  font-family: monospace;
  max-width: 968px;
  background-color: rgb(45, 45, 45);
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
}
